@media screen and (max-width: 1200px) {
    .home .right img {
        margin-top: 140px;
        margin-right: -150px;
        width: 350px;
    }
    .home .left {
        margin-top: 200px;
        margin-right: 50px;
    }
    .home .left .text-1, .text-3{
        padding: 20px 0 20px 0;
        font-size: 29px;
    }
    .home .left .text-2 {
        font-size: 40px;
    }
    .home .left a {
        padding: 10px;
        height: 40px;
        width: 200px;
        font-size: 20px;
    }
}
@media screen and (max-width: 950px) {
    .header-atas {
        gap: 50px;
    }

    .home .right img {
        margin-top: 170px;
        margin-right: -130px;
        width: 280px;
    }
    .home .left {
        margin-top: 200px;
        margin-right: 50px;
    }
    .home .left .text-1, .text-3{
        padding: 20px 0 20px 0;
        font-size: 25px;
    }
    .home .left .text-2 {
        font-size: 35px;
    }
    .home .left a {
        padding: 10px;
        height: 40px;
        width: 200px;
        font-size: 20px;
    }
    /* section contact */
    
    .contact {
        height: 1150px;
    }
    .contact-sepuh {
        margin-left: 40px;
    }
    .contact-content {
        display: block;
    }
    .contact .nama, .imel {
        width: 320px;
    }
    .contact .subjek {
        width: 650px;
    }
    .contact .footer .wrapper .icon {
        margin: 0 10px;
    }
    .contact .footer p {
        font-size: 12px;
    }
    .contact .footer .wrapper .icon span{
        height: 50px;
        width: 50px;
    }
    .contact .footer .wrapper .icon i{
        color: #fff;
        font-size: 25px;
        line-height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 15px;
    }
    .header-atas {
        gap: 50px;
        height: 80px;
    }
    .header-left {
        margin-top: 14px;
    }
    .header-left h1 {
        font-size: 30px;
        margin-right: 200px;
    }
    .navbar .hidden {
        display: none;
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.423);
        margin-top: 62px;
        margin-left: -10px;
        position: fixed;
        height: 240px;
        width: 200px;
        border-radius: 0 0 15px 15px;
    }
    .navbar ul li a {
        font-size: 17px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
    }
    .menu-btn:hover {
        transition: all 0.3s;
    }
    /* section home */
    .home{
        justify-content: center;
        gap: 10px;
        height: 650px;
    }
    .home-sepuh {
        display: flex;
        flex-direction: column-reverse;
    }
    .home .left {
        margin-top: 60px;
        margin-right: 0;
    }
    .home .left .text-1, .text-3{
        padding: 10px 0 10px 0;
        font-size: 25px;
        font-weight: 400;
    }
    .home .left .text-2 {
        font-size: 30px;
        font-weight: 500;
    }
    .home .right img {
        width: 320px;
        margin-right: 0;
    }
    .about {
        margin-top:100px;
    }
    /* section contact */
    
    .contact {
        height: 1150px;
    }
    .contact-sepuh {
        margin-left: 40px;
    }
    .contact-content {
        display: block;
    }
    .contact .nama, .imel {
        width: 260px;
    }
    .contact .subjek {
        width: 530px;
    }
    .contact .footer .wrapper .icon {
        margin: 0 10px;
    }
    .contact .footer p {
        font-size: 12px;
    }
    .contact .footer .wrapper .icon span{
        height: 50px;
        width: 50px;
    }
    .contact .footer .wrapper .icon i{
        color: #fff;
        font-size: 25px;
        line-height: 50px;
    }
}

@media screen and (max-width: 680px) {
    .title {
        font-size: 15px;
    }
    .header-atas {
        gap: 50px;
        height: 80px;
    }
    .header-left {
        margin-top: 14px;
    }
    .header-left h1 {
        font-size: 30px;
        margin-right: 200px;
    }
    .navbar .hidden {
        display: none;
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.423);
        margin-top: 62px;
        margin-left: -10px;
        position: fixed;
        height: 240px;
        width: 200px;
        border-radius: 0 0 15px 15px;
    }
    .navbar ul li a {
        font-size: 17px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
    }
    .menu-btn:hover {
        transition: all 0.3s;
    }


    /* section home */
    .home{
        justify-content: center;
        gap: 10px;
        height: 650px;
    }
    .home-sepuh {
        display: flex;
        flex-direction: column-reverse;
    }
    .home .left {
        margin-top: 60px;
        margin-right: 0;
    }
    .home .left .text-1, .text-3{
        padding: 10px 0 10px 0;
        font-size: 25px;
        font-weight: 400;
    }
    .home .left .text-2 {
        font-size: 30px;
        font-weight: 500;
    }
    .home .right img {
        width: 320px;
        margin-right: 0;
    }

    /* section about */

    .about {
        height: 230px;
        margin-top: 100px;
    }
    .about .title-1 {
        font-size: 15px;
    }
    .about .text {
        font-size: 12px;
        width: 80%;
        margin-top: 70px;
    }

    /* section skills */

    .skill {
        height: 700px;
    }

    /* section project */

    .project{
        height: 900px;
    }

    .project .big-box {
        gap: 10px;
    }
    .project .box {
        margin: 0px 0px 0px 0px;
    }


    /* section contact */
    
    .contact {
        height: 1150px;
    }
    .contact-sepuh {
        margin-left: 40px;
    }
    .contact-content {
        display: block;
    }
    .contact .nama, .imel {
        width: 205px;
    }
    .contact .subjek {
        width: 420px;
    }
    .contact .footer .wrapper .icon {
        margin: 0 10px;
    }
    .contact .footer p {
        font-size: 12px;
    }
    .contact .footer .wrapper .icon span{
        height: 50px;
        width: 50px;
    }
    .contact .footer .wrapper .icon i{
        color: #fff;
        font-size: 25px;
        line-height: 50px;
    }
}

@media screen and (max-width: 625px) {
    .project {
        height:1700px;
    }
    .project .big-box {
        gap: 10px;
        margin-top: 900px;
    }
}

@media screen and (max-width: 570px) {
    .header-atas {
        gap: 50px;
        height: 80px;
    }
    .header-left h1 {
        font-size: 30px;
        margin-right: 100px;
    }
    .contact .nama, .imel {
        width: 170px;
    }
    .contact .subjek {
        width: 350px;
    }
}

@media screen and (max-width:480px) {
    .title {
        font-size: 15px;
    }
    .header-atas {
        gap: 40px;
        height: 70px;
    }
    .header-left {
        margin-top: 14px;
    }
    .header-left h1 {
        font-size: 25px;
        margin-right: 50px;
    }
    .navbar .hidden {
        display: none;
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.423);
        position: fixed;
        margin-top: 53px;
        margin-left: -20px;
        height: 240px;
        width: 200px;
        border-radius: 0 0 15px 15px;
    }
    .navbar ul li a {
        font-size: 17px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 25px;
        cursor: pointer;
    }
    .menu-btn:hover {
        transition: all 0.3s;
    }

    /* section home */
    .home{
        justify-content: center;
        gap: 10px;
        height: 650px;
    }
    .home-sepuh {
        display: flex;
        flex-direction: column-reverse;
    }
    .home .left {
        margin-top: 60px;
        margin-right: 0;
    }
    .home .left .text-1, .text-3{
        padding: 10px 0 10px 0;
        font-size: 20px;
        font-weight: 400;
    }
    .home .left .text-2 {
        font-size: 30px;
        font-weight: 500;
    }
    .home .right img {
        width: 300px;
        margin-right: 0;
    }

    /* section about */

    .about {
        height: 230px;
        margin-top: 100px;
    }
    
    .about .text {
        font-size: 12px;
        width: 80%;
        margin-top: 70px;
    }

    /* section skills */

    .skill {
        height: 950px;
    }

    /* section project */

    .project{
        height: 1700px;
    }

    .project .big-box {
        gap: 10px;
        margin-top: 900px;
    }
    .project .box {
        margin: 0px 0px 0px 0px;
    }

    /* section contact */
    
    .contact {
        height: 1150px;
    }
    
    .contact-contact {
        display: flex;
        justify-content: center;
    }
    .contact-sepuh {
        margin-left: -10px;
    }
    .contact-content {
        display: block;
    }
    .contact .nama, .imel {
        width: 145px;
    }
    .contact .subjek {
        width: 300px;
    }
    .contact .footer .wrapper .icon {
        margin: 0 10px;
    }
    .contact .footer p {
        font-size: 12px;
    }
    .contact .footer .wrapper .icon span{
        height: 50px;
        width: 50px;
    }
    .contact .footer .wrapper .icon i{
        color: #fff;
        font-size: 25px;
        line-height: 50px;
    }
}





@media screen and (max-width: 390px) {
    .header-atas {
        gap: 40px;
    }
    
    .navbar ul {
        margin-left: -30px;
    }
    .services .serv-content .card2 {
        width: 100px;
        height: 290px;
    }
    .services .serv-content .card2 .text {
        font-size: 15px;
    }
    .serv-content .card2 .kalimat {
        font-size: 12px;
    }
    .serv-content {
        margin: 20px 13px 20px 13px;
    }
    .serv-content:hover {
        margin: 20px 13px 20px 13px;
    }
    .contact-content {
        margin-left: -30px;
    }
    .contact .footer .wrapper .icon {
        margin: 0 10px;
    }
    .contact .footer p {
        font-size: 12px;
    }
    .contact .footer .wrapper .icon span{
        height: 50px;
        width: 50px;
    }
    .contact .footer .wrapper .icon i{
        color: #fff;
        font-size: 25px;
        line-height: 50px;
    }
}